<section class="profile">
    <h1>Anindo Mazumdar</h1>
    <p>Software Developer</p>
    <img src="https://via.placeholder,com/300x300" alt="">
</section>

<section class="contact">
    <h2>Contact</h2>
    <ul>
        <li>A-4/11 Dankuni Housing Complex</li>
        <li>anindo.1999maz@gmail.com</li>
        <li>+91-9647313023</li>

    </ul>
</section>

<section class="objectives">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempora error molestiae inventore, nulla, hic, id
    accusamus nobis animi voluptates harum cumque mollitia eius. Nemo dolorum ipsa odit voluptate! Praesentium, dolores?

</section>

<section class="socials">
    <ul>
        <li>@anindo99</li>
        <li>@anindo</li>
    </ul>
</section>

<section class="skills">
    <h2>Capabalities/Skills</h2>
    <ul>
        <li>
            <h3>Professional</h3>
            <ul>
                <li>Lorem.</li>
                <li>Fugiat?</li>
                <li>Dolorum?</li>
                <li>Iusto?</li>
                <li>Commodi!</li>
                <li>Neque?</li>
                <li>Asperiores.</li>
                <li>Nostrum.</li>
            </ul>
        </li>
        <li>
            <h3>Personal</h3>
            <ul>
                <li>Lorem.</li>
                <li>Tempore.</li>
                <li>Eum?</li>
                <li>Rem.</li>
                <li>Asperiores.</li>
                <li>Eaque?</li>
                <li>Quisquam!</li>
                <li>Tempora!</li>
            </ul>
        </li>
    </ul>
</section>

<section class="education">
    <h2>Education/Qualifications</h2>
    <ul class="timeline">
        <li class="event">
            <div class="duration">2017-2021</div>
            <h3>Enter your degree/Major</h3>
            <div>TINT New Town</div>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsa necessitatibus magnam non error dolor fuga culpa, praesentium rem reiciendis saepe ipsam pariatur esse placeat modi, mollitia, blanditiis possimus hic. Cupiditate.</p>
            <p>CGPA: 8.5</p>
        </li>
        <li class="event">
            <div class="duration">2016-2017</div>
            <h3>Enter your degree/Major</h3>
            <div>TINT New Town</div>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsa necessitatibus magnam non error dolor fuga culpa,
                praesentium rem reiciendis saepe ipsam pariatur esse placeat modi, mollitia, blanditiis possimus hic.
                Cupiditate.</p>
            <p>CGPA: 8.5</p>
        </li>
    </ul>
</section>

<section class="experience">
    <h2>Experience</h2>
    <ul class="timeline"></ul>
</section>